@use '../abstracts' as *;

%btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: var(--su-200);
	border: 0;
	font-size: var(--fs-body);
	font-weight: var(--fw-medium);
	text-decoration: none;
	text-transform: capitalize;
	line-height: 1;
	cursor: pointer;
	transition: all 0.2s;
}

.btn {
	@extend %btn;

	&--primary,
	&[data-type='inverted'] {
		padding: 1.5em 2.8em;
		width: min(350px, 90%);
		border-radius: 100vmax;

		@include respond(sm) {
			padding: 1.1em 1.8em;
			width: auto;
		}
	}

	// PRIMARY BUTTON
	&--primary {
		background-image: var(--clr-primary-gradient);
		background-size: 200%;
		background-position-x: 90%;
		color: var(--clr-font-dark);

		&:is(:hover, :focus-visible) {
			background-position-x: 0;
		}

		// PRIMARY INVERTED BUTTON
		&[data-type='inverted'] {
			border: 3px solid var(--clr-neutral-200);
			background: var(--clr-neutral-200);
			color: var(--clr-primary-400);
			box-shadow: var(--shadow-primary-bottom);

			&:is(:hover, :focus-visible) {
				opacity: 0.8;
			}
		}
	}

	// BUTTON ICON
	&-icon {
		fill: currentColor;
		width: var(--su-600);
		height: var(--su-600);
	}

	// WEBSITE LOGO LINK
	&__logo {
		max-width: 8.2rem;
		background: transparent;

		@include respond(lg) {
			max-width: 9.2rem;
		}
	}
}

.mobile-nav-toggle {
	@extend %btn;

	height: 2.5rem;
	width: 2.5rem;
	padding: 0.2rem;
	border: 2px solid var(--clr-neutral-500);
	border-radius: var(--su-200);
	color: var(--clr-font);
	background-color: transparent;

	&:is(:hover, :focus-visible) {
		border-color: currentColor;
	}

	@include respond(lg) {
		display: none;
	}
}
