@use '../abstracts' as *;

@mixin button {
	display: inline-flex;
  align-items: center;
	padding: 1.1em 1.8em;
	border: none;
	border-radius: 100vmax;
	font-size: var(--fs-button);
	font-weight: var(--fw-medium);
	text-decoration: none;
	text-transform: capitalize;
	line-height: 1;
	cursor: pointer;

	transition: all 0.2s;
}

.button {
  &--primary,
  &--dark,
  &--outline,
  &[data-type='active'] {
    @include button;
  }

	&--primary,
	&--dark[data-type='active'] {
		background-image: var(--clr-primary-gradient);
		background-size: 200%;
		background-position-x: 90%;
		color: var(--clr-black);

		&:hover,
		&:focus-visible {
			background-position-x: 0;
		}

		&[data-type='inverted'] {
			border: 3px solid var(--clr-grey-900);
			background-color: var(--clr-grey-900);
			color: var(--clr-primary-500);

			&:hover {
				background-color: var(--clr-primary-500);
				color: var(--clr-grey-900);
			}
		}
	}

	&--dark {
		background-color: var(--clr-grey-800);
		color: var(--clr-grey-500);

		&:hover,
		&:focus-visible {
			background-color: var(--clr-grey-700);
			color: var(--clr-grey-200);
		}
	}

	&--outline {
		background-color: transparent;
		border: 3px solid var(--clr-grey-200);
		color: currentColor;

		&:hover {
			background-color: var(--clr-grey-200);
			color: var(--clr-grey-900);
		}
	}

  &-icon {
		display: inline;
		width: var(--size-300);
		margin-left: var(--size-200);
	}
}

.mobile-nav-toggle {
  @include button;
	@include flex-center;
	height: var(--size-600);
	width: var(--size-600);
	padding: 0.2rem;
	border: 2px solid var(--clr-grey-500);
	border-radius: var(--size-100);
	background-color: transparent;

	&:hover {
		border: 2px solid var(--clr-grey-200);
	}

	@include respond(lg) {
		display: none;
	}
}
