.btn {
	cursor: pointer;
	font: inherit;
  color: $color-black;

	&--primary {
		background-color: $color-primary;
		font-weight: 600;
		padding: $su-0-75 $su-1-5;
		font-size: $fs-smallest;
		border-radius: $su-2;
		border: none;
		transition: 0.2s all;

		&:hover {
			background-color: $color-primary-dark;
		}
	}

  &--big {
    font-size: $fs-smaller;
    padding: $su-1 $su-2;
  }
}
