.btn {
	&,
	&:link,
	&:visited {
		display: inline-flex;
		align-items: center;
		color: $clr-black;
		font-size: var(--fs-400);
		font-weight: 500;
		transition: all 0.2s;

		cursor: pointer;
	}

	&__icon {
		margin-left: $su-0-5;
		fill: none;
		stroke: $clr-black;
		height: 2rem;
		width: 2rem;
	}

	&--primary {
		padding: 1.5rem 2.8rem;
		border-radius: 3rem;
		background: $clr-primary-gradient;
		background-size: 200%;
		background-position-x: 100%;

		@include respond(lg) {
			padding: 1.1rem 2.2rem;
		}

		&:hover {
			background-position-x: 0%;
		}
	}

	&--dark {
		background-color: transparent;
		border: 2px solid $clr-grey-600;
		border-radius: 0.5rem;
		height: 4rem;
		width: 4rem;
		transition: all 0.2s;

		&:hover {
			border: 2px solid $clr-grey-500;
		}

		@include respond(lg) {
			display: none;
		}
	}
}
