@use '../abstracts' as *;

.divider {
  width: 50%;
  max-width: 40rem;
  height: .2rem;
  margin-inline: auto;
  border: none;
  border-radius: 100vmax;
  background-color: $clr-primary-500;

  @include respond(sm) {
    height: .3rem;
  }
}