@use '../abstracts' as *;

.feature-box {
	max-width: 40rem;
	border-radius: var(--size-100);
	overflow: hidden;

	transition: transform 0.5s ease;

	&:hover {
		transform: scale(1.05);

		& .feature-box__content {
			transform: translateY(0);
			transition-delay: 0.5s;
		}

		& .feature-box__icon {
			transform: translateX(-300%);
			opacity: 0;
		}
	}

	.feature-box__content > *:not(.heading-tertiary, .feature-box__icon) {
		@include respond(lg) {
			opacity: 0;
			transition: opacity 0.5s linear;
		}
	}

	&:hover .feature-box__content > *:not(.heading-tertiary, .feature-box__ico) {
		opacity: 1;
		transition-delay: 0.3s;
	}

	@include respond(lg) {
		height: 40rem;
	}

	&--1 {
		@include feature-box-bg(1);
	}

	&--2 {
		@include feature-box-bg(2);
	}

	&--3 {
		@include feature-box-bg(3);
	}

	&__content {
		position: relative;
		padding: var(--size-600) var(--size-500);
		background-image: linear-gradient(
			to bottom,
			rgba(var(--clr-primary-500-rgb), 0.8),
			rgba(var(--clr-primary-500-rgb), 0.9)
		);

		@include respond(lg) {
			height: 100%;
			text-align: left;
			transform: translateY(77%);

			transition: transform 0.5s ease;
		}
	}

	&__icon,
	&__icon svg {
		display: none;
	}

	&__icon {
		@include respond(lg) {
			position: absolute;
			top: 0;
			transform: translateY(-50%);
			display: block;
			padding: 1.25rem;
			background-image: var(--clr-primary-gradient);
			border-radius: 50%;
			box-shadow: var(--shadow-primary);

			transition: all 0.2s linear;
		}
	}

	&__icon svg {
		@include respond(lg) {
			display: block;
		}
	}

	&__text {
		margin-top: var(--size-400);

		@include respond(lg) {
			margin-top: var(--size-500);
		}
	}
}
