@use '../abstracts' as *;

.nav {
	&--primary {
		@include respond(lg) {
			margin-right: var(--su-800);
		}
	}

	&__list {
    display: grid;
		grid-auto-flow: row;
		gap: var(--su-500);

		@include respond(lg) {
			grid-auto-flow: column;
			gap: var(--su-700);
		}

    @include respond(xl) {
      gap: var(--su-800);
    }
	}

	&__link {
		text-decoration: none;
		color: var(--clr-font);
		transition: 0.2s all;

    &:is(:hover, :focus),
    &.active {
      color: var(--clr-primary-400);
    }
	}
}
