@use '../abstracts' as *;

.nav {
	&--primary {
		display: none;
		margin-left: auto;
		margin-right: $size-800;

		@include respond(lg) {
			display: block;
		}
	}

	&__list {
		display: grid;
		grid-auto-flow: column;
		gap: $size-800;
	}

	&__link {
		text-decoration: none;
		color: $clr-font;
		transition: 0.2s all;

		&:hover,
    &:focus {
			color: $clr-primary-500;
		}
	}
}
