@use '../abstracts' as *;

.nav {
	&--primary {
		display: none;
		margin-left: auto;
		margin-right: var(--su-800);

		@include respond(lg) {
			display: block;
		}
	}

	&__list {
		display: grid;
		grid-auto-flow: column;
		gap: var(--su-800);
	}

	&__link {
		text-decoration: none;
		color: var(--clr-font);
		transition: 0.2s all;

		&:hover,
    &:focus {
			color: var(--clr-primary-400);
		}
	}
}
