@use '../abstracts' as *;

.social-list {
	display: grid;
	grid-auto-flow: column;
	align-items: end;
	gap: var(--su-300);

	& a:is(:hover, :focus) &__icon {
		fill: var(--clr-primary-500);
	}

	&__icon {
		height: var(--su-600);
		width: var(--su-600);
		fill: var(--clr-primary-400);
		transition: all 0.2s;
	}
}
