@keyframes moveBottom {
	50% {
		transform: translateY(1rem);
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30vh);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}