@use '../abstracts' as *;

body {
	text-align: center;
	color: var(--clr-font);
	font-family: var(--ff-body);
	font-size: var(--fs-body);
	font-weight: var(--fw-normal);
	line-height: 1.6;
}

p {
	max-width: 60ch;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
	color: var(--clr-heading);
}

.heading-primary,
.heading-secondary {
  position: relative;
	text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  
	&::before {
    content: '';
		position: absolute;
		top: calc(100% + var(--su-300));
		left: 50%;
		translate: -50%;
		width: clamp(13rem, 50%, 20rem);
		height: 0.1rem;
		background-color: var(--clr-primary-400);
		border-radius: 100vmax;
    
		@include respond(lg) {
      height: 0.2rem;
		}
	}
}

.heading-secondary,
.heading-tertiary {
  line-height: 1.4;
}

.heading-primary {
  max-width: 18ch;
	font-size: var(--fs-heading-primary);
	line-height: 1.2;
  letter-spacing: 0.2rem;

  @include respond(sm) {
    max-width: 20ch;
  }
  
	@include respond(md) {
    &::before {
      translate: -100%;
		}
	}
}

.heading-secondary {
  max-width: 18ch;
	margin-inline: auto;
	font-size: var(--fs-heading-secondary);

  @include respond(md) {
    max-width: 22ch;
  }
}

.heading-tertiary {
  font-size: var(--fs-heading-tertiary);
  font-weight: var(--fw-semi-bold);
  
	&--bright {
    color: var(--clr-heading);
	}

	&--dark {
		color: var(--clr-font-dark);
	}

	&--primary {
		color: var(--clr-font-primary);
	}
}
