@use '../abstracts' as *;

body {
	color: var(--clr-font);
	font-family: var(--ff-body);
	font-size: var(--fs-body);
	font-weight: var(--fw-normal);
	line-height: 1.6;
	text-align: center;
}

.heading {
	color: var(--clr-heading);
	font-weight: var(--fw-semi-bold);
	text-transform: uppercase;
	text-align: center;
	letter-spacing: -0.1rem;

	&-primary {
		font-size: var(--fs-primary-heading);
		line-height: 1.1;

		@include respond(lg) {
			text-align: left;
		}
	}

	&-secondary,
	&-tertiary {
		line-height: 1.4;
	}

	&-secondary {
		font-size: var(--fs-secondary-heading);
	}

	&-tertiary {
		font-size: var(--fs-tertiary-heading);
		font-weight: var(--fw-semi-bold);

		&--light {
			color: var(--clr-grey-200);
		}

		&--dark {
			color: var(--clr-black);
		}

		&--gold {
			color: var(--clr-primary-500);
		}
	}
}
