@use '../abstracts' as *;

// VISUALLY HIDDEN
.visually-hidden {
	position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

// COLORS
.clr-primary-400 {
	color: var(--clr-primary-400);
}

.clr-neutral-100 {
	color: var(--clr-neutral-100);
}

// FONT WEIGHTS
.fw-bold {
	font-weight: var(--fw-bold);
}

// TEXT ALIGN
.align-left {
	text-align: left;
}

// BACKGROUND COLORS
.bg-primary-400 {
	background-color: var(--clr-primary-400);
}

.bg-neutral-100 {
	background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
	background-color: var(--clr-neutral-200);
}

.bg-neutral-300 {
	background-color: var(--clr-neutral-300);
}
