@use '../abstracts' as *;

// VISUALLY HIDDEN
.u-visuallyHidden {
	position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

// COLORS
.u-clrPrimary {
	color: var(--clr-primary-500);
}

.u-clrBlack {
	color: var(--clr-black);
}

// FONT WEIGHTS
.u-fwBold {
	font-weight: var(--fw-bold);
}

// BACKGROUND COLORS
.u-bgPrimary {
	background-color: var(--clr-primary-500);
}

.u-bgBlack {
	background-color: var(--clr-black);
}

.u-bgGrey {
	background-color: var(--clr-grey-900);
}
