@use '../abstracts' as *;

// ===================HOME SECTION==================
.home {
	display: flex;
	align-items: flex-end;
	min-height: max(100vh, 700px);
	padding-block: 10rem var(--size-400);
	background-image: linear-gradient(
			to bottom,
			rgba(var(--clr-black-rgb), 0.9),
			rgba(var(--clr-black-rgb), 0.9)
		),
		url(../images/background-home-1000.webp);
	background-size: cover;
	background-position: top;

	@media screen and (min-resolution: 192dpi) and (min-width: 48em),
		(min-width: 75em) {
		background-image: linear-gradient(
				to bottom,
				rgba(var(--clr-black-rgb), 0.9),
				rgba(var(--clr-black-rgb), 0.9)
			),
			url(../images/background-home-1500.webp);
	}

	&__content {
		div:nth-child(2) {
			@include respond(md) {
				grid-column: 1;
				animation: fadeInLeft 1s linear;
			}

			@include respond(lg) {
				text-align: left;
			}
		}
	}

	&__img {
		width: min(550px, 100%);
		margin-inline: auto;
		animation: fadeIn 1s linear;
	}

	&__divider {
		@include respond(lg) {
			margin-left: 0;
		}
	}

	&__scroll {
		justify-items: center;
		margin-top: var(--size-700);

		&-icon {
			animation: moveVertically 1s linear infinite, fadeIn 1s linear;
			transition: 0.2s all;

			&:hover {
				transform: scale(1.2);
			}
		}
	}
}

// =================FEATURES SECTION================
.features__row {
	justify-content: center;
	gap: var(--size-500);
	margin-top: var(--size-600);

	@include respond(lg) {
		gap: var(--size-800);
		margin-top: var(--size-800);
	}

	@include respond(xl) {
		gap: 9rem;
	}
}

// ===================MENU SECTION==================
.menu-section {
	background-image: linear-gradient(
			to bottom,
			rgba(var(--clr-black-rgb), 0.8),
			rgba(var(--clr-black-rgb), 0.9)
		),
		url(../images/background-menu-1000.webp);
	background-size: cover;
	background-position: top;

	@media screen and (min-resolution: 192dpi) and (min-width: 48em),
		(min-width: 75em) {
		background-image: linear-gradient(
				to bottom,
				rgba(var(--clr-black-rgb), 0.8),
				rgba(var(--clr-black-rgb), 0.9)
			),
			url(../images/background-menu-1500.webp);
	}
}

.menu {
	&__button-group {
		display: flex;
		justify-content: space-around;
		align-items: center;
		max-width: 40rem;
		margin: var(--size-600) auto 0 auto;

		@include respond(md) {
			max-width: 70rem;
		}

		@include respond(lg) {
			margin-top: var(--size-800);
		}
	}

	&__button {
		padding: 1em;

		@include respond(md) {
			padding: 1.1em 1.8em;
			width: 15rem;
		}

		&[data-type='active'] span {
			color: var(--clr-black);
		}
	}

	&__button-text {
		display: none;
		width: 100%;

		@include respond(md) {
			display: inline;
		}
	}

	&__button-icon {
		width: var(--size-600);
		height: var(--size-600);

		@include respond(md) {
			display: none;
		}
	}
}
