@use '../abstracts' as *;

// =================== HOME SECTION ==================
.home {
	display: grid;
	min-height: clamp(700px, 100vh, 820px);
	padding-block: 6.25rem var(--su-900);
	background-image: linear-gradient(
			to bottom,
			hsl(0, 0%, 7%, 90%),
			hsl(0, 0%, 7%, 90%)
		),
		url(../images/background-home-1000.webp);
	background-size: cover;
	background-position: top;

	@include respond(md) {
		padding-bottom: var(--su-400);
	}

	@media screen and (min-resolution: 192dpi) and (min-width: 48em),
		(min-width: 75em) {
		background-image: linear-gradient(
				to bottom,
				hsl(0, 0%, 7%, 90%),
				hsl(0, 0%, 7%, 90%)
			),
			url(../images/background-home-1500.webp);
	}

	&__container {
		place-items: center;
		height: 100%;

		@include respond(lg) {
			grid-template-areas:
				'content image'
				'scroll scroll';
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr auto;
		}
	}

	&__img {
		width: min(550px, 100%);
		animation: fadeIn 1s linear;

		@include respond(lg) {
			grid-area: image;
		}
	}

	&__content {
		gap: var(--su-700);
		justify-items: center;
		animation: fadeIn 1s linear;

		@include respond(sm) {
			gap: var(--su-600);
			justify-items: start;
			text-align: left;
			animation: fadeInLeft 1s linear;
		}

		@include respond(lg) {
			grid-area: content;
		}
	}

	&__scroll {
		display: none;
		place-items: center;

		@include respond(md) {
			display: grid;
		}

		@include respond(lg) {
			grid-area: scroll;
		}

		&-link:is(:hover, :focus) .home__scroll-icon {
			scale: 1.2;
		}

		&-icon {
			width: var(--su-700);
			height: var(--su-700);
			fill: var(--clr-neutral-800);
			animation: moveVertically 1s linear infinite, fadeIn 1s linear;
			transition: 0.2s all;
		}
	}
}

// ================= FEATURES SECTION ================
.features__container {
	justify-content: center;
	margin-top: var(--su-700);

	@include respond(lg) {
		margin-top: var(--su-800);
	}

	@include respond(xl) {
		gap: var(--su-900);
	}
}

// =================== MENU SECTION ==================
.menu {
	position: relative;
	overflow: hidden;
	background-image: linear-gradient(
			to bottom,
			hsl(0, 0%, 7%, 80%),
			hsl(0, 0%, 7%, 90%)
		),
		url(../images/background-menu-1000.webp);
	background-size: cover;
	background-position: top;
	background-attachment: fixed;

	@media screen and (min-resolution: 192dpi) and (min-width: 48em),
		(min-width: 75em) {
		background-image: linear-gradient(
				to bottom,
				hsl(0, 0%, 7%, 80%),
				hsl(0, 0%, 7%, 90%)
			),
			url(../images/background-menu-1500.webp);
	}

	&__bg-image {
		position: absolute;
		filter: blur(1px);
		display: none;

		@include respond(xl) {
			display: block;
		}

		&--1 {
			max-width: 19rem;
			top: 20%;
			left: 4vw;
			rotate: 13deg;
		}

		&--2 {
			max-width: 20rem;
			top: 15%;
			left: 72vw;
			rotate: 250deg;
		}

		&--3 {
			max-width: 15rem;
			top: 78%;
			left: 10vw;
		}
	}
}

// =================== STATS SECTION ==================
.stats {
	& .flow {
		--flow-space: var(--su-200);
	}

	&__number {
		color: var(--clr-font-dark);

		&::before {
			display: none;
		}
	}

	&__text {
		text-transform: uppercase;
		font-weight: var(--fw-semi-bold);
	}
}

// =================== INFO SECTION ==================
.info {
	place-items: center;
	position: relative;
	height: clamp(500px, 90vh, 820px);
}

// ================ TESTIMONIAL SECTION ===============
.testimonial {
}

// ==================== CTA SECTION ===================
.cta {
	padding-block: var(--su-700);

	&__container {
		@include respond(lg) {
			grid-template-columns: 3fr 2fr;
			place-items: center;
			text-align: left;
		}
	}

	&__title {
		margin-inline: auto;
		color: var(--clr-font-dark);
	}
}

// =================== CONTACT SECTION =================
.contact {
	padding-block: 0;

	&__content {
		gap: 0;
		text-align: left;

		@include respond(lg) {
			grid-template-columns: 1fr 2fr;
		}
	}

	& .grid:first-of-type {
		justify-items: start;
		padding: var(--su-800) var(--su-700);
		background-color: var(--clr-neutral-200);

		@include respond(md) {
			padding: var(--su-800);
		}
	}

	&__list {
		--flow-space: var(--su-500);
	}

	&__element {
		display: grid;
		grid-template-columns: var(--su-500) 1fr;
		gap: var(--su-500);
	}

	&__link {
		text-decoration: none;
		color: currentColor;
		transition: all 0.2s;

		&:is(:hover, :focus) {
			color: var(--clr-font-primary);
		}
	}

	&__icon {
		width: var(--su-500);
		height: var(--su-500);
		fill: var(--clr-primary-400);
	}

	& div.flow {
		--flow-space: var(--su-200);
	}

	.social-list {
		margin-top: var(--su-200);
	}
}
