// COLORS
$color-primary: #ffd700;
$color-primary-light: #ffe550;
$color-primary-dark: #ceaf02;

$color-grey-light-1: #ccc;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #777;
$color-grey-dark-2: #444;
$color-grey-dark-3: #333;
$color-grey-dark-4: #222;

$color-black: #111;
$color-white: #eee;

// FONT SIZES
// 1 rem = 10px
$fs-big: 3rem;
$fs-h1: 3.2rem;
$fs-h2: 2.1rem;
$fs-h3: 1.9rem;
$fs-default: 1.6rem;
$fs-small: 1.4rem;
$fs-smaller: 1.2rem;
$fs-smallest: 1.1rem;

// SPACING UNITS
$su-0-25: 0.25rem;
$su-0-5: 0.5rem;
$su-0-75: 0.75rem;
$su-1: 1rem;
$su-1-5: 1.5rem;
$su-2: 2rem;
$su-2-5: 2.5rem;
$su-3: 3rem;

// MARGINS
$m-0-25: 0.25rem;
$m-0-5: 0.5rem;
$m-0-75: 0.75rem;
$m-1: 1rem;
$m-1-5: 1.5rem;
$m-2: 2rem;
$m-2-5: 2.5rem;
$m-3: 3rem;
