// FONT FAMILY
$ff-body: 'Poppins', sans-serif;

// COLORS
$clr-primary-400: hsl(51, 100%, 64%);
$clr-primary-500: hsl(51, 100%, 50%);
$clr-primary-600: hsl(51, 100%, 36%);

$clr-red: hsl(14, 100%, 53%);
$clr-green: hsl(106, 83%, 40%);
$clr-blue: hsl(212, 100%, 55%);

$clr-grey-400: hsl(0, 0%, 67%);
$clr-grey-500: hsl(0, 0%, 47%);
$clr-grey-600: hsl(0, 0%, 27%);

$clr-black: hsl(0, 0%, 7%);
$clr-white: hsl(0, 0%, 93%);

$clr-font: hsl(0, 0%, 80%);

// GRADIENTS
$clr-primary-gradient: linear-gradient(
	140deg,
	$clr-primary-600 20%,
	$clr-primary-500 48%,
	$clr-primary-400 78%
);

// FONT SIZES
// 1 rem = 10px
:root {
	--fs-400: 1.6rem;
	--fs-700: 4rem;
	--fs-900: 5.6rem;
	--fs-xxl: 4rem;

  @include respond(sm) {
    --fs-xxl: 5.6rem;
  }

  @include respond(lg) {
    --fs-xxl: 7rem;
  }
}

// SPACING UNITS
$su-0-5: 0.5rem;
$su-1: 1rem;
$su-2: 2rem;
$su-3: 3rem;
$su-4: 4rem;
