// COLORS
$color-primary: #ffd700;
$color-primary-light: #ffe247;
$color-primary-dark: #d8b600;

$color-grey-light: #aaa;

$color-grey-dark-1: #777;
$color-grey-dark-2: #444;

$color-black: #111;
$color-white: #eee;

$color-font: #ccc;

// GRADIENTS
$color-primary-gradient: linear-gradient(140deg, $color-primary-dark 20%,  $color-primary 48%, $color-primary-light 78%);

// FONT SIZES
// 1 rem = 10px

$fs-default: 1.6rem;
$fs-big: 1.7rem;
$fs-bigger: 2.4rem;
$fs-h3: 4.1rem;
$fs-h2: 5.3rem;
$fs-h1: 7rem;


// SPACING UNITS
$su-0-5: .5rem;
$su-1: 1rem;
$su-2: 2rem;
$su-3: 3rem;
$su-4: 4rem;

