@use '../abstracts' as *;

.primary-footer {
	&__container {
		display: grid;
		grid-template-areas:
			'about'
			'contact'
			'nav'
			'form'
			'social-list';
		gap: var(--su-800);
		padding-top: var(--su-900);
		text-align: center;

		@include respond(lg) {
      grid-template-columns: repeat(3, 1fr);
			grid-template-areas:
				'about nav form'
				'contact . form'
        '. social-list .';
      column-gap: var(--su-900);
		}

    & > .flow,
    .footer-nav__list {
      --flow-space: var(--su-600);

      @include respond(lg) {
        --flow-space: var(--su-300)
      }
    }
	}

	&__container > :nth-child(1) {
		grid-area: about;
	}

	&__container > :nth-child(2) {
		grid-area: contact;
	}

	&__container > :nth-child(3) {
		grid-area: nav;
	}

	&__container > :nth-child(4) {
		grid-area: form;
	}

	&__container > :nth-child(5) {
		grid-area: social-list;
	}

	&__about {
    @include respond(lg) {
      text-align: left;
    }
	}

	&__contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(lg) {
      align-items: flex-start;
    }

    &-list {
      display: flex;
      flex-direction: column;
      max-width: 70%;
    }

    &-list li {
      display: grid;
      grid-template-columns: var(--su-500) 1fr;
      gap: var(--su-500);
      text-align: left;
    }

    &-link {
      color: currentColor;
      text-decoration: none;
    }

    &-icon {
      fill: var(--clr-primary-400);
      height: var(--su-500);
      width: var(--su-500);
    }
	}

  &__nav {
    @include respond(lg) {
      text-align: left;
    }
  }

  &__copyright {
    font-size: var(--fs-footer);
  }
}
