.header {
  align-content: center;
  justify-content: center;
  padding-block: 10rem 5rem;
  background-image:linear-gradient(
    to bottom,
    rgba($color-black, 0.9),
    rgba($color-black, 0.9)
  ), url(../images/background-small.png);
  background-size: cover;
  background-position: top;

  @include respond(sm) {
    min-height: calc(950px - 15rem);
    height: calc(100vh - 15rem);
  }

  &__img {
    width: 100%;
    margin-bottom: $su-3;

    @include respond(sm) {
      margin-inline: auto;
      width: 550px;
    }
  }

  &__data {
    text-align: center;
  }

  &__text {
    margin-bottom: $su-4;

    @include respond(sm) {
      padding-inline: 6rem;
    }
  }
}