@use '../abstracts' as *;

.header {
	position: fixed;
	z-index: 100;
	width: 100vw;
	background-color: $clr-black;

	@include respond(lg) {
		background-color: transparent;
	}

	&--sticky {
    background-color: $clr-black;
    
    & .header__container {
      font-size: var(--fs-button);
      padding-block: $size-200;
    }
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: $size-200;

		@include respond(lg) {
			padding-block: $size-500;
		}
	}

	&__logo {
		width: 13rem;

    @include respond (lg) {
      width: 15rem;
    }
	}

	&__button {
		display: none;

		@include respond(lg) {
			display: inline;
		}
	}
}