@use '../abstracts' as *;

.header {
	position: fixed;
	width: 100vw;
	background-color: var(--clr-black);
	z-index: var(--z-fixed);

	@include respond(lg) {
		background-color: transparent;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: var(--size-200);
    
		@include respond(lg) {
			padding-block: var(--size-500);
		}
	}
  
	&__logo {
		width: 13rem;

    @include respond (lg) {
      width: 15rem;
    }
	}

	&__button {
    display: none;

		@include respond(lg) {
			display: inline;
		}
	}

  // SHRINK HEADER ON SCROLL
  &--shrink {
    background-color: var(--clr-black);
    
    & .header__container {
      font-size: var(--fs-button);
      padding-block: var(--size-200);
    }
  }
}