@use '../abstracts' as *;

// DIVIDER
.divider {
  width: clamp(6rem, 50%, 40rem);
	height: 0.2rem;
	margin-inline: auto;
	border-radius: 100vmax;
	background-color: var(--clr-primary-500);

	@include respond(sm) {
		height: 0.3rem;
	}
}

// SECTION
.section {
	padding-block: var(--size-700);

	@include respond(lg) {
		padding-block: var(--size-800);
	}

	&__description {
		max-width: 60rem;
		margin: 0 auto var(--size-700) auto;
	}
}

// CONTAINER
.container {
	padding-inline: var(--size-300);

	@include respond(sm) {
		margin-inline: auto;
		padding-inline: 0;
		max-width: 540px;
	}

	@include respond(md) {
		max-width: 720px;
	}

	@include respond(lg) {
		max-width: 960px;
	}

	@include respond(xl) {
		max-width: 1140px;
	}
}

//GRID
.row {
	display: grid;
	gap: var(--size-400);

	@include respond(lg) {
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}
}

// FLOW
:where(.flow :not(:last-child)) {
	margin-bottom: var(--size-300);

	@include respond(lg) {
		margin-bottom: var(--size-400);
	}
}
