.nav {
	padding-block: $su-1;
	position: fixed;
	width: 100vw;
	background-color: $color-black;

  @include respond(lg) {
    background-color: transparent;
  }

	&__container {

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
    display: flex;
		width: 13rem;
	}

	&__image {
		width: 100%;
	}

	&__btn {
		background-color: transparent;
		border: 2px solid $color-grey-dark-2;
		border-radius: $su-0-5;
		height: 4rem;
		width: 4rem;

		@include respond(lg) {
			display: none;
		}
	}

	&__icon {
		stroke: $color-white;
	}

  &__list {
    display: none;

    @include respond(lg) {
			display: grid;
      grid-auto-flow: column;
      grid-gap: 4rem;
      margin-left: auto;
      margin-right: 4rem;
		}
  }

  &__link {
    color: $color-white;
    font-size: $fs-smaller;
    transition: .2s all;

    &:hover {
      color: $color-primary;
    }
  }

  &__btn--primary {
    display: none;

    @include respond(lg) {
			display: inline;
		}
  }
}
